@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.source {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 1px;
  border: 3px solid #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}
.tile {
  width: 32px;
  height: 32px;
  margin: 1px;
  border: 3px solid #ccc;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}
.row {
  display: flex;
}

.container {
  margin-left: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* information lines */
.moves-left, 
.user-id,
.game-name,
.target-color,
.closest-color{
  display: flex;
  margin: 1em 0.2em;
}
.target-color div,
.closest-color div{
  display: flex;
  align-items: center;
}
.target-color div:first-child,
.closest-color div:first-child{
  margin-right: 0.5em;
}

/* tooltip */
.custumize-tooltip{
  background-color: #e6e6e6;
  color:#000;
  padding: 2px 5px;
}
.classNameArrow{
  display: none;
}

.highlight{
  border-color: red;
}

/* Modal */
/* The Modal (background) */
.modal {
  display: block;
  color: #000;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  max-width: 450px;
}

/* The model Button */
.buttons{
  display: flex;
  justify-content: flex-end;
}
.cancel,.ok{
  width: 80px;
  height: 40px;
  margin: 30px 10px;
  margin-bottom: 5px;
  padding: 5px;
  outline: none;
  cursor: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ok{
  color: #fff;
  background-color: rgb(93, 93, 255);
}
.cancel{
  color:rgb(93, 93, 255); ;
  background-color: #fff;
}
.ok:hover{
  background-color: rgb(112, 112, 235);
}
.cancel:hover{
  background-color: #e6e6e6;
}
.show{
  display: block;
}
.hide{
  display: none;
}